<section class="flex flex-col items-center h-[100vh]">
  <app-top-navbar section="Baza leków"></app-top-navbar>
  <div class="flex flex-col gap-5 p-5 items-center justify-center">
    <label for="" class="font-semibold text-xl"> Wybierz nazwę produktu </label>
    <select
      name=""
      id=""
      class="flex flex-col gap-5 py-3 px-10 rounded-lg font-semibold bg-transparent transition-all duration-300 border border-transparent hover:border-gray-400"
    >
      <option value="" class="px-5 bg-white">Apap Extra</option>
      <option value="" class="px-5 bg-white">Co-prestarium</option>
    </select>
    <!-- <button
      class="font-semibold transition-all duration-300 hover:text-gray-500"
    >
      Załaduj dane
    </button> -->
  </div>
  <app-product-cards-container></app-product-cards-container>
</section>
