<section class="flex flex-col gap-5">
  <p name="nazwa" class="text-gray-500 font-semibold">Apap Extra</p>
  <div
    class="flex flex-col gap-5 p-5 font-semibold border border-gray-300 transition-all duration-300 hover:cursor-pointer flex-wrap w-[400px] md:w-fit md:min-w-[40vw] hover:border-gray-700"
  >
    <p name="nazwa">
      <span class="text-gray-600 font-normal">nazwa:</span> Paracetamolum
    </p>
    <p name="działanie">
      <span class="text-gray-600 font-normal">działanie:</span> Przeciwbólowe,
      przeciwgorączowe
    </p>
    <p name="dawkowanie">
      <span class="text-gray-600 font-normal">dawkowanie</span>
      10mg na kg masy ciała, do 4g (zazwyczaj 8 tabletek po 500mg)
    </p>
    <p name="wskazania">
      <span class="text-gray-600 font-normal">wskazania:</span>
      Lek pierwszego wyboru na bóle różnego pochodzenia
    </p>
    <p name="uwagi">
      <span class="text-gray-600 font-normal">uwagi:</span>
      Lek pierwszego wyboru
    </p>
    <p name="przeciwwskazania">
      <span class="text-gray-600 font-normal">przeciwwskazania:</span>
      Niedokrwistość, inhibitory MAO, niedobór G6PD
    </p>
    <p name="ciąża">
      <span class="text-gray-600 font-normal">ciąża:</span>
      Nie w 1 trymestrze, w 2 i 3 po konsultacji lekarskiej.
    </p>
  </div>
</section>
