<section class="border-2 border-red-500 h-[80vh]">
  <div class="flex items-start justify-center h-full">
    <div
      name="Left-Container"
      class="bg-red-300 w-[50%] h-[100%] flex flex-col items-center justify-center"
    >
      <p class="text-5xl font-bold text-center p-5">
        Przyszłość medycyny jest tutaj
      </p>
      <p class="text-center w-[70%] p-5">
        Platorma dla profesjonalnych przedstawicieli służby zdrowia. Przegląd
        lekowy, edukcja, fachowa pomoc w jednym miejscu.
      </p>
      <button
        class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 shadow-lg shadow-cyan-500/50 font-medium rounded-lg text-lg px-5 py-2.5 text-center me-2 mb-2 transition-all duration-300"
      >
        Zobacz demo
      </button>
    </div>
    <div name="Right-container" class="bg-blue-300 w-[50%] h-[100%]">aaa</div>
  </div>
</section>
