<section class="min-h-[80vh]">
  <div
    class="flex items-center justify-center h-full flex-wrap animate__animated animate__fadeIn"
  >
    <div
      name="Left-Container"
      class="min-w-[350px] w-[40%] h-[65vh] p-3 flex flex-col items-center justify-center grow"
    >
      <p class="text-3xl md:text-7xl font-bold text-center p-5 drop-shadow-md">
        Przyszłość medycyny jest tutaj
      </p>
      <p class="text-center text-lg w-[70%] p-5 drop-shadow-md">
        Platorma dla profesjonalnych przedstawicieli służby zdrowia. Przegląd
        lekowy, edukcja, fachowa pomoc w jednym miejscu.
      </p>
      <button
        class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 shadow-lg shadow-cyan-500/50 font-medium rounded-lg text-lg px-5 py-2.5 text-center me-2 mb-2 transition-all duration-300 drop-shadow-md"
      >
        Zobacz demo
      </button>
    </div>
    <div
      name="Right-container"
      class="w-[55%] min-h-[50vh] min-w-[350px] relative flex items-center justify-center"
    >
      <div class="w-[60%] min-w-[300px]">
        <img
          class="rounded-lg shadow-xl"
          src="../../../../assets/images/platform-images/platforma-5.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
