<!-- <section
  class="flex gap-10 p-5 w-[100%] bg-blue-100 justify-center items-center"
>
  @for(option of options; track option) {
  <app-top-navbar-item [text]="option.name"></app-top-navbar-item>
  }
</section> -->
<nav class="">
  <div
    class="flex justify-between w-[100vw] p-3 px-5 md:px-10 items-center gap-5"
  >
    <p class="font-semibold text-2xl drop-shadow-md">Pharma</p>
    <button
      class="border-2 border-black px-5 py-1 rounded-full transition-all duration-300 hover:font-bold drop-shadow-md font-semibold text-lg"
      routerLink="/login"
    >
      Login
    </button>
  </div>
</nav>
